<div style="margin-left: 4px; margin-top: 10px;">
  <div class="container">
    <h1>Ajouter un nouveau jeu</h1>
    <form #gameForm="ngForm">
      <div class="form-group">
        <label for="name">Nom* :</label>
        <input class="form-control" [(ngModel)]="submittedGame.Name" name="name" type="text" class="form-control" id="name" required>
      </div>

      <div class="form-group">
        <label for="description">Description :</label>
        <textarea [(ngModel)]="submittedGame.Description" name="description" class="form-control"></textarea>
      </div>

      <div class="row justify-content-around">

      <div class="form-group col-lg-4">
        <label for="genre">Genre :</label>
        <select [(ngModel)]="submittedGame.Genre" name="genre" class="form-control" id="genre" required>
          <option class="form-control" *ngFor="let gen of genres" [value]="gen">{{gen}}</option>
        </select>
      </div>

      <div class="form-group col-lg-4">
        <label for="minplayers">Nombre de joueurs minimum :</label>
        <!-- <input [(ngModel)]="submittedGame.MinPlayers" name="minplayers" type="text" class="form-control" required> -->

        <select [(ngModel)]="submittedGame.MinPlayers" name="minplayers" class="form-control" id="minplayers" required>
          <option class="form-control" *ngFor="let i of minplayersvalues" [value]="i">{{i}}</option>
          </select>
      </div>

      <div class="form-group col-lg-4">
        <label for="maxplayers">Nombre de joueurs maximum :</label>
        <select [(ngModel)]="submittedGame.MaxPlayers" name="maxplayers" class="form-control" id="maxplayers">
          <option class="form-control" *ngFor="let i of maxplayersvalues" [value]="i">{{i}}</option>
          <option class="form-control" [value]="100">Infini</option>
        </select>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-lg-4">
        <label>Plateforme(s)* :</label>
      </div>
      <div class="form-group col-lg-2">
        <label *ngIf="atleastoneplatformselected()">Prix (en €) :</label>
      </div>
      <div class="form-group col-lg-2">
        <label *ngIf="selectedplatforms[0]" for="minpower">Puissance minimale :</label>
      </div>
      <div class="form-group col-lg-2">
        <label *ngIf="selectedplatforms[0]" for="isonmac">Compatible Mac OS ? </label>
      </div>
      <div class="form-group col-lg-2">
        <label *ngIf="selectedplatforms[0]" for="disksize">Taille sur le disque :</label>
      </div>
    </div>

    <div class="row" *ngFor="let pla of platforms; let index = index">
        <div class="form-group col-lg-4" style="height: 37px; padding-top: 5px;">
          <input [(ngModel)]="selectedplatforms[index]" type="checkbox" [id]="pla" [name]="'platform_' + index">&nbsp;&nbsp;
          <label [for]="pla">{{pla}} </label>
        </div>

        <div class="form-group col-lg-2" >
          <input placeholder="Prix sur {{pla}}" [(ngModel)]="platformsprices[index]" [hidden]="!selectedplatforms[index]" class="form-control" type="text" [name]="'price_' + index">
        </div>

        <div *ngIf="selectedplatforms[0] && index == 0" class="form-group col-lg-2" >
          <select [(ngModel)]="submittedGame.MinRequiredPower" name="minpower" class="form-control">
            <option [value]="1">Rudimentaire</option>
            <option [value]="2">Peu performant</option>
            <option [value]="3">Standard</option>
            <option [value]="4">Assez performant</option>
            <option [value]="5">Excellent</option>
            </select>
        </div>

        <div *ngIf="selectedplatforms[0] && index == 0" class="form-group col-lg-2" style="text-align: center; padding-top: 5px;" >
          <input [(ngModel)]="submittedGame.IsOnMac" name="isonmac" id="isonmac" type="checkbox">&nbsp;&nbsp;<label for="isonmac">Oui</label>
        </div>

        <div *ngIf="selectedplatforms[0] && index == 0" class="form-group col-lg-2" >
          <input placeholder="En Mo" [(ngModel)]="submittedGame.Size" name="disksize" type="text" class="form-control" >
        </div>

    </div>

    <div style="text-align: center;">
      <button [disabled]="!gameForm.form.valid" (click)="onSubmitGame()" class="nk-btn nk-btn-rounded nk-btn-color-main-1">Envoyer</button>
    </div>

    </form>
  </div>
  </div>

  <img class="nk-page-background-top" src="assets/images/bg-top-3.png" alt="">
