<div style="margin-left: 4px; margin-top: 10px;">
  <div class="container">
    <h1 class="nk-decorated-h-3"><span>Ajouter un nouveau jeu</span></h1>

<div class="nk-info-box text-danger" *ngIf="gameForm.submitted &&
(name.invalid
|| !atleastoneplatformselected()
|| atleastonepriceinvalid()
|| selectedplatforms[0] && submittedGame.size && !isdisksizevalid(submittedGame.size))">
  <div class="nk-info-box-icon">
      <i class="ion-close-round"></i>
  </div>
  <h3>Formulaire invalide</h3>
  <em *ngIf="name.invalid">Le nom du jeu est obligatoire.</em>
  <em *ngIf="!atleastoneplatformselected()"><br />Au moins une plateforme doit être sélectionnée.</em>
  <em *ngIf="atleastonepriceinvalid()"><br />Un prix est invalide.</em>
  <em *ngIf="selectedplatforms[0] && submittedGame.size && !isdisksizevalid(submittedGame.size)"><br />La taille du jeu sur PC est invalide.</em>

</div>

<div class="nk-info-box text-danger" *ngIf="errormessage">
  <div class="nk-info-box-icon">
    <i class="ion-close-round"></i>
  </div>
  <div class="nk-info-box-close nk-info-box-close-btn">
    <i class="ion-close-round"></i>
  </div>
  <h3>Erreur</h3>
  {{errormessage.error}}
</div>

<div class="nk-info-box text-success" *ngIf="successmessage">
  <div class="nk-info-box-icon">
    <i class="ion-checkmark-round"></i>
  </div>
  <div class="nk-info-box-close nk-info-box-close-btn">
    <i class="ion-close-round"></i>
</div>
  <h3>Jeu ajouté !</h3>
  Merci pour ton aide ! {{submittedGame.name}} a bien été ajouté à la liste des jeux. Il est à présent possible de l'ajouter à son Gaming Mood.

  <div class="nk-gap-1"></div>
  <a href="gaming-mood" class="nk-btn nk-btn-rounded nk-btn-color-success">
      Mon Gaming Mood
  </a>
</div>


    <form name="gameForm" #gameForm="ngForm" #formDir="ngForm">
      <div class="row justify-content-around">
        <div class="form-group col-lg-6">
          <label for="name">Nom* :</label>
          <input class="form-control" [ngClass]="{'nk-error' : gameForm.submitted && name.invalid}" [(ngModel)]="submittedGame.name" name="name" type="text" id="name" #name="ngModel" required>
        </div>
        <div class="form-group col-lg-6">
          <label for="name">URL de l'illustration :</label>
          <input class="form-control" [ngClass]="{'nk-error' : gameForm.submitted && thumbnailPath.invalid}" [(ngModel)]="submittedGame.thumbnailPath" name="thumbnailPath" type="text" id="thumbnailPath" #thumbnailPath="ngModel">
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description :</label>
        <textarea [(ngModel)]="submittedGame.description" name="description" class="form-control"></textarea>
      </div>

      <div class="row justify-content-around">

      <div class="form-group col-lg-3">
        <label for="genre">Genre :</label>
        <select [(ngModel)]="submittedGame.genre" name="genre" class="form-control" id="genre">
          <option class="form-control" *ngFor="let gen of genres" [value]="gen">{{gen}}</option>
        </select>
      </div>

      <div class="form-group col-lg-3">
        <label for="minplayers">Nombre de joueurs minimum :</label>
        <select [(ngModel)]="submittedGame.minPlayers" name="minplayers" class="form-control" id="minplayers" required>
          <option class="form-control" *ngFor="let i of minplayersvalues" [value]="i">{{i}}</option>
          </select>
      </div>

      <div class="form-group col-lg-3">
        <label for="maxplayers">Nombre de joueurs maximum :</label>
        <select [(ngModel)]="submittedGame.maxPlayers" name="maxplayers" class="form-control" id="maxplayers">
          <option class="form-control" *ngFor="let i of maxplayersvalues" [value]="i">{{i}}</option>
          <option class="form-control" [value]="100">Infini</option>
        </select>
      </div>

      <div class="form-group col-lg-3">
        <label for="iscrossplatform">Cross-platform ?</label>
        <div style=" padding-top: 5px;">
          <input [disabled]="!isMoreThanOnePlatformSelected()" [(ngModel)]="submittedGame.isCrossPlatform" name="iscrossplatform" id="iscrossplatform" type="checkbox">&nbsp;&nbsp;<label for="iscrossplatform">Oui</label>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-lg-4">
        <label>Plateforme(s)* :</label>
      </div>
      <div class="form-group col-lg-2">
        <label *ngIf="atleastoneplatformselected()">Prix (en €) :</label>
      </div>
      <div class="form-group col-lg-2">
        <label *ngIf="selectedplatforms[0]" for="minpower">Puissance minimale :</label>
      </div>
      <div class="form-group col-lg-2">
        <label *ngIf="selectedplatforms[0]" for="isonmac">Compatible Mac OS ? </label>
      </div>
      <div class="form-group col-lg-2">
        <label *ngIf="selectedplatforms[0]" for="disksize">Taille sur le disque :</label>
      </div>
    </div>

    <div class="row" *ngFor="let pla of platforms; let index = index">
        <div class="form-group col-lg-4" style="height: 37px; padding-top: 5px;">
          <input [(ngModel)]="selectedplatforms[index]" type="checkbox" [id]="pla" [name]="'platform_' + index">&nbsp;&nbsp;
          <label [for]="pla">{{pla}} </label>
        </div>

        <div class="form-group col-lg-2" >
          <input placeholder="Prix sur {{pla}}" [(ngModel)]="platformsprices[index]"
          [hidden]="!selectedplatforms[index]" class="form-control" type="text"
          [name]="'price_' + index" pattern="[0-9\.]*" [ngClass]="{'nk-error' : platformsprices[index] && !ispricevalid(platformsprices[index]) }">
        </div>

        <div *ngIf="selectedplatforms[0] && index == 0" class="form-group col-lg-2" >
          <select [(ngModel)]="submittedGame.minRequiredPower" name="minpower" class="form-control">
            <option *ngFor="let rpi of [1,2,3,4,5]" [value]="rpi">{{rpi | requiredpowertext}}</option>
            </select>
        </div>

        <div *ngIf="selectedplatforms[0] && index == 0" class="form-group col-lg-2" style="text-align: center; padding-top: 5px;" >
          <input [(ngModel)]="submittedGame.isOnMac" name="isonmac" id="isonmac" type="checkbox">&nbsp;&nbsp;<label for="isonmac">Oui</label>
        </div>

        <div *ngIf="selectedplatforms[0] && index == 0" class="form-group col-lg-2" >
          <input placeholder="En Mo" [(ngModel)]="submittedGame.size" [name]="'disksize_' + index" type="text"
          class="form-control" pattern="[0-9]*" [ngClass]="{'nk-error' : submittedGame.size && !isdisksizevalid(submittedGame.size) }">
        </div>

    </div>

    <div style="text-align: center;">
      <button (click)="onSubmit(gameForm)" class="nk-btn nk-btn-rounded nk-btn-color-main-1">Envoyer</button>
    </div>

    </form>
  </div>
  </div>

  <img class="nk-page-background-top" src="assets/images/bg-top-3.png" alt="">
